@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap');

body {
    background-color: black;
    /*text-align: center;*/
    color: white;
    font-size: 14px;
    font-family: "Elsie", serif;
}

h1 {
    /*text-align: right ;*/
}

#cima {
    width: 400px;
    margin-bottom: -80px;
}

img {
    width: 200px;
    /*margin-right: 150px;*/
    
}


#fotos {
    /*border-radius: 50px;*/
    box-shadow: 6px 2px 4px 2px rgba(255, 255, 255, 0.803);
    transform: rotate(85deg);
}

a {
    text-decoration: none;
    color: white;
}

#whats {
    font-size: 15px;   
}

#whatsapp {
    width: 17px;
}