@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap');


body {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: "Elsie", serif;
}

#cima {
    width: 400px;
    
}

#social {
    margin-top: -90px;
}

#noiva {
    margin-bottom: 20px;
    margin-top: 10px;
}

img {
 width: 200px;
}

.foto {
    width: 200px;
}

a {
    color: white;
    text-decoration: none;
}


#whats {
    font-size: 15px;   
}

#whatsapp {
    width: 17px;
}