@charset "UTF-8";

body {
    background-color: black;
    /*text-align: center;*/
    color: white;
    font-size: 14px;
}

h1 {
    /*text-align: right ;*/
}

#cima {
    width: 400px;
    margin-bottom: -80px;
}

img {
    width: 200px;
    /*margin-right: 150px;*/
    
}


#fotos {
    /*border-radius: 50px;*/
    box-shadow: 6px 2px 4px 2px rgba(255, 255, 255, 0.803);
    transform: rotate(85deg);
}

a {
    /*text-decoration: none;*/
    color: white;
}

#whatsapp {
    width: 20px;
}