@charset "UTF-8";

body {
    background-color: black;
    /*text-align: center;*/
    color: white;
    font-size: 14px;
}

h1 {
    /*text-align: right ;*/
}

#cima {
    width: 400px;
    margin-bottom: -80px;
}

img {
    width: 300px;
    /*margin-right: 150px;*/
}

#whatsapp {
    width: 20px;
}