@charset "UTF-8";

body {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 14px;
}

#cima {
    width: 400px;
    margin-bottom: -80px;
}

img {
    width: 200px;
}

a {
    /*text-decoration: none;*/
    color: white;
}

#whatsapp {
    width: 20px;
}