@charset "UTF-8";

body {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 14px;
}

#cima {
    width: 400px;
}

#social {
    margin-top: -90px;
}

#noiva {
    margin-bottom: 20px;
    margin-top: 10px;
}

img {
 width: 300px;
}

.foto {
    width: 200px;
}

a {
    color: white;
}

#whatsapp {
    width: 20px;
}