@charset "UTF-8";

/** {
    margin: 0px;
    padding: 0px;
}*/

body {
    background-color: black;
    text-align: center;
    margin: 0%;
    /*overflow: hidden;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px
    
    
}

img {
    width: 500px; 
    margin-bottom: -110px;
    
}
#logo {
    width: 50%;
    
}

#meio {
    margin-bottom: -100px;
    margin-top: -250px;
   
}

/*link*/
a {
    /*text-decoration: none;*/
    color: burlywood;
}



container1 > fundo0 {
    text-align: center;
    

}


#cilios {
    position: relative;
    top: 120px;
}
#fundo0 {
    width: 425px;
    margin-bottom: -165px;
    margin-top: 10px;
    margin-right: 100px;
    
    
    
}


#make {
    position: relative;
    top: 115px;
}
#fundo1 {
    width: 425px;
    margin-bottom: -165px;
    margin-right: 80px;
    
       
}


#design {
    position: relative;
    top: 115px;
}
#fundo2 {
    width: 425px;
    margin-bottom: -210px;
    margin-right: 60px;
    
}

#baixo {
    margin-bottom: -250px;
}
