@charset "UTF-8";

body {
 background-color: black;
 background-image: url(IMG/logo.png);
 background-size: 250px;
 background-repeat: no-repeat;
 background-position: top center;
 /*margin-top: 300px;*/
 text-align: center;
 color: white;
    
}

img {
    width: 100%;
}

/*h1 {
    color: white;

}*/

container1 > h1{
    display: inline-block;
    position: relative;

}

#cilios {
    position: relative;
    top: 279px;
}
#dourado0 {
    width: 300px;
    margin-top: 200px;
    margin-bottom: -70px;
}


#sobrancelha {
    position: relative;
    top: 85px;
}
#dourado1 {
    width: 300px;
    margin-bottom: -80px;
       
}


#maquiagem {
    position: relative;
    top: 90px;
}
#dourado2 {
    width: 300px;
    margin-top: 10px;
}



#penteado {
    position: relative;
    top: 10px;
}
#dourado3 {
    width: 300px;
    margin-top: -80px;
    
}